h1 {
	color: #456abc;
	font-size: 100px;
	font-family: 'Oswald', sans-serif;
}

h2 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 20px;
}

h3 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 16px;
	color: #456abc;
	line-height: 100%;	
}

h4 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
	line-height: 5%;	
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

div.ex1 {
	max-width: 700px;
	margin: 0 auto !important;
	float: none !important;
	text-align: center;
}

p.desc {
	margin-bottom: 14px;
}

a {
	color: #FF5733;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}